body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start;    /* Centraliza verticalmente */
    height: 100vh;          /* Ocupa toda a altura da janela */
    background-color: #070707;
}

.container {
    text-align: center;      /* Centraliza o texto */
    padding: 20px;           /* Adiciona espaçamento interno */
    margin-top: 10px;
    background: #060606;     /* Fundo branco para destaque */
    border-radius: 10px;     /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 90%;              /* Largura responsiva */
    max-width: 800px;        /* Limita a largura máxima */
}

.container .t1 {
    font-size: 45px;
    color: #ffffff;
}

.container .t2 {
    font-size: 30px;
    color: #ffffff;
}

.slideshow-container {
    position: relative;
    max-width: 680px;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fade 1.5s;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

/* Animação */
@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

/* Botões de navegação */
.prev, .next {
    position: absolute;
    flex-direction: row;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(42, 41, 41, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 250px;
}

.prev {
    left: 10px;
    margin-left: 15px;
}

.next {
    right: 10px;
    margin-right: 15px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}